.main {
    display: flex;
    padding-top: 100px;
    height: 90vh;
}

.main-left {
    flex: 1;
    text-align: left;
    padding-left: 50px;
}

.main-left-hello {
    font-size: 28px;
    color: #0c293c;
}

.main-left-name {
    font-size: 148px;
    color: #3498db;
}

.main-left-job {
    font-size: 32px;
    font-weight: 900;
    color: #006db5;
}

.main-left-desc {
    font-size: 32px;
    font-weight: 400;
    color: #0c293c;
  
}
.main-right {
    flex: 1;
}

.main-right-logo {
    max-height: 75%;
    max-width: 75%;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 34, 34);
    font-size: 14px;
    color: beige;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
}

.main-button-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}