.hoho-project {
    color: white;
    background-color: #3498db;
    padding-bottom: 60px;
  }
  
  .hoho-project-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .hoho-project-left {
    display: flex;
    flex: 1;
  }
  
  .hoho-project-left-techno {
    flex: 1;
    text-align: left;
    margin-left: 130px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
  }
  
  .hoho-project-left-techno-title {
    margin-bottom: 25px;
    text-align: center;
  }
  
  .hoho-project-left-techno-section {
    display: flex;
    margin-bottom: 25px;
  }
  
  .hoho-project-left-techno-text {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .hoho-project-left-techno-icon {
    width: 40px;
    height: 40px;
  }
  
  .hoho-project-left-desc {
    margin-left: 120px;
    flex: 1;
  }
  
  
  .hoho-project-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .hoho-project-techno {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
  }
  
  .hoho-project-description {
    font-size: 22px;
    text-align: justify;
    line-height: 1.5;
  }
  
  .hoho-project-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hoho-project-links > a {
    margin-left: 30px;
  }
  
  .hoho-project-links-button {
    background-color: rgb(38, 34, 34);
    color: beige;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
  }
  
  .hoho-project-right {
    position: relative;
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .hoho-card {
    position: relative;
    width: 450px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: float 1.5s infinite alternate;
  }
  
  @keyframes float {
    from {
      will-change: unset;
      transform: translateY(-60px);
    }
  
    to {
      will-change: transform;
      transform: translateY(-50px);
    }
  }