.headerBar {
    display: flex;
    padding: 25px;
}

.headerBar-leftPart {
    flex: 1;
}

.headerBar-leftPart-logo {
    padding-left: 25px;
    max-height: 100%;
    max-width: 100%;
}

.headerBar-rightPart {
    flex: 2;
    display: flex;
    align-items: center;
}

.headerBar-rightPart-list {
    display: flex;
    justify-content: space-around;
    margin-left: 35%;
    width: 65%;
    font-size: x-large;
}

.headerBar-link {
    text-decoration: none; /* Supprime le soulignement par défaut */
    color: inherit; /* Utilise la couleur du texte parent */
    display: block; /* Assure que le lien occupe tout l'espace du <li> */
    padding: 10px; /* Ajoute un peu d'espace autour du texte */
}

.headerBar-link:hover {
    color: #007bff; /* Change la couleur au survol */
}
