/* Contact.css */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3498db;
}

.contact-title {
  font-size: 46px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.question-mark {
  overflow: visible;
  margin-bottom: 20px;
}

.contact-form {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 3fr 1fr;
  grid-column-gap: 35px;
}

.contact-form-valid {
  border: 3px solid #34db66;
  border-radius: 15px;
  background-color: #72ff9c;
  width: 40%;
  padding: 20px;
  margin-bottom: 25px;
}

.contact-form-invalid {
  border: 3px solid #db3434;
  border-radius: 15px;
  background-color: #ff7272;
  width: 40%;
  padding: 20px;
  margin-bottom: 25px;
}


.contact-form-name {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-form-email {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-form-subject {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-form-message {
  grid-area: 3 / 1 / 4 / 3;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-form-button {
  grid-area: 4 / 1 / 5 / 3;
  padding: 10px 20px;
  width: 100%;
  height: 50%;
  border: none;
  background-color: rgb(38, 34, 34);
  color: #c2e7ff;
  border-radius: 15px;
  cursor: pointer;
}

.contact-form label {
  margin-bottom: 10px;
  padding-left: 15px;
  font-weight: 800;
  color: #c2e7ff;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid rgb(0, 90, 193);
  background-color: #c2e7ff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}


@media (max-width: 900px) {
  .contact-form {
    width: 80%;
  }
}