/* Contact.css */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3498db;
}

.contact-title {
  font-size: 46px;
  margin-bottom: 80px;
  margin-top: 40px;
}

.question-mark {
  overflow: visible;
  margin-bottom: 20px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.contact-form-name {
  grid-area: 1 / 1 / 2 / 2;
}

.contact-form-email {
  grid-area: 1 / 2 / 2 / 3;
}

.contact-form-subject {
  grid-area: 2 / 1 / 3 / 3
}

.contact-form-message {
  grid-area: 3 / 1 / 4 / 3;
}

.contact-form-button {
  grid-area: 4 / 1 / 5 / 3;
  padding: 10px 20px;
  border: none;
  background-color: #0099ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
