.algobourse-project {
  color: white;
  background-color: #3498db;
  padding-bottom: 60px;
}

.algobourse-project-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur les petits écrans */
}

.algobourse-project-left {
  display: flex;
  flex: 1;
  min-width: 300px; /* Assure une largeur minimale pour éviter le sur-compression */
}

.algobourse-project-left-techno {
  flex: 1;
  text-align: left;
  margin-left: 130px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.algobourse-project-left-techno-title {
  margin-bottom: 25px;
  text-align: center;
}

.algobourse-project-left-techno-section {
  display: flex;
  margin-bottom: 25px;
}

.algobourse-project-left-techno-text {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.algobourse-project-left-techno-icon {
  width: 40px;
  height: 40px;
}

.algobourse-project-left-desc {
  margin-left: 120px;
  flex: 1;
}

.algobourse-project-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}

.algobourse-project-techno {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.algobourse-project-description {
  font-size: 22px;
  text-align: justify;
  line-height: 1.5;
}

.algobourse-project-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.algobourse-project-links > a {
  margin-left: 30px;
}

.algobourse-project-links-button {
  background-color: rgb(38, 34, 34);
  color: beige;
  padding: 5px 10px;
  border-radius: 15px;
  text-decoration: none;
}

.algobourse-project-right {
  position: relative;
  width: 500px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.algobourse-card {
  position: relative;
  width: 300px;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: float 1.5s infinite alternate;
}

.algobourse-holo {
  position: absolute;
  bottom: 20px;
  width: 150px;
  height: 5px;
  background-color: rgba(0, 252, 252, 0.35);
  border-radius: 100%;
  filter: blur(2.5px);
  transform: perspective(100px) rotateX(-30deg);
  transform-style: preserve-3d;
  animation: holographic 1.5s infinite alternate;
}

.algobourse-project-image {
  width: 100%;
  height: auto;
  z-index: 3;
}

@keyframes float {
  from {
    will-change: unset;
    transform: translateY(-60px);
  }

  to {
    will-change: transform;
    transform: translateY(-50px);
  }
}

@keyframes holographic {
  from {
    will-change: box-shadow;
    box-shadow:
      0 -75px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5),
      0 -45px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5),
      0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5),
      0 -5px 10px rgba(0, 252, 252, 0.75),
      0 -7px 20px rgba(0, 252, 252, 0.75),
      0 -10px 30px rgba(0, 252, 252, 0.75),
      0 -15px 40px rgba(0, 252, 252, 0.75),
      0 -25px 50px rgba(0, 252, 252, 0.75),
      0 -35px 60px rgba(0, 252, 252, 0.85),
      0 -45px 70px rgba(0, 252, 252, 0.95),
      0 -65px 80px rgba(0, 252, 252, 1),
      0 -75px 90px rgba(0, 252, 252, 1);
  }

  to {
    will-change: unset;
    box-shadow:
      0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -1px 2px rgba(0, 252, 252, 0.5),
      0 -1px 5px rgba(0, 252, 252, 0.15),
      0 -2px 3px rgba(0, 252, 252, 0.5),
      0 -3px 4px rgba(0, 252, 252, 0.5),
      0 -4px 6px rgba(0, 252, 252, 0.5),
      0 -5px 7px rgba(0, 252, 252, 0.75),
      0 -7px 10px rgba(0, 252, 252, 0.75),
      0 -10px 15px rgba(0, 252, 252, 0.75),
      0 -15px 20px rgba(0, 252, 252, 0.75),
      0 -25px 25px rgba(0, 252, 252, 0.75),
      0 -35px 30px rgba(0, 252, 252, 0.85),
      0 -45px 35px rgba(0, 252, 252, 0.95),
      0 -65px 40px rgba(0, 252, 252, 1),
      0 -75px 50px rgba(0, 252, 252, 1);
  }
}

/* Media Queries pour les écrans de petite taille */
@media (max-width: 900px) {
  .algobourse-project-section {
    flex-direction: column; /* Change la direction en colonne pour les petits écrans */
    align-items: center; /* Centre les éléments */
  }

  .algobourse-project-left {
    margin-left: 0; /* Supprime la marge à gauche */
    padding: 0 20px; /* Ajoute un padding horizontal */
  }

  .algobourse-project-left-desc {
    margin-left: 0; /* Supprime la marge à gauche */
    text-align: center; /* Centre le texte */
  }

  .algobourse-project-name {
    font-size: 28px; /* Réduit la taille de la police pour le nom */
    margin-bottom: 30px; /* Réduit la marge en bas */
  }

  .algobourse-project-description {
    font-size: 18px; /* Réduit la taille de la police pour la description */
  }

  .algobourse-project-techno {
    justify-content: center; /* Centre les icônes des technologies */
    gap: 90px;
    margin-bottom: 20px;
  }

  .algobourse-project-right {
    width: 100%; /* Prend toute la largeur disponible */
    height: 600px; /* Ajuste la hauteur automatiquement */
    margin-top: 100px; /* Ajoute un espace entre les sections */
  }

  .algobourse-card {
    width: 80%; /* Réduit la taille de la carte */
    height: auto; /* Réduit la hauteur de la carte */
    margin-top: 80px;
  }

  .algobourse-holo {
    width: 120px; /* Réduit la largeur de l'effet holographique */
  }
}

@media (max-width: 480px) {
  .algobourse-project-name {
    font-size: 24px; /* Réduit encore la taille de la police pour les très petits écrans */
  }

  .algobourse-project-description {
    font-size: 16px; /* Réduit la taille de la police pour les très petits écrans */
  }

  .algobourse-project-techno {
    flex-wrap: wrap; /* Permet aux icônes de passer à la ligne */
    gap: 50px;
    margin-bottom: 20px;
  }

  .algobourse-project-left-techno-icon {
    width: 30px; /* Réduit la taille des icônes */
    height: 30px; /* Réduit la taille des icônes */
  }

  .algobourse-project-right {
    width: 100%; /* Prend toute la largeur disponible */
    height: 120%; /* Ajuste la hauteur automatiquement */
    margin-top: 20px; /* Ajoute un espace entre les sections */
  }

  .algobourse-card {
    width: 200px; /* Réduit encore la taille de la carte */
    height: 250px; /* Réduit encore la hauteur de la carte */
  }

  .algobourse-holo {
    width: 100px; /* Réduit encore la largeur de l'effet holographique */
  }
}